{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Registreren{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Gebruiksnaam</label>
    <input name="username" id="username" required>
    <label for="password">Wachtwoord</label>
    <input type="password" name="password" id="password" required>
    <input name="firstname" id="firstname" required>
    <label for="firstname">Voornaam</label>
    <input type="submit" value="Registreren">
  </form>
{% endblock %}